body {
  overflow-x: auto; }
  body table {
    margin: 0em 1em !important; }
    body table td {
      padding: 0px 5px !important;
      text-align: center !important;
      color: #333; }
    body table .shadow {
      background-color: #eee;
      color: #eee; }
  body #origin td {
    cursor: pointer; }
  body .inline {
    display: inline-block;
    vertical-align: top; }
  body .basic {
    padding: 0px !important; }
  body .fin {
    box-shadow: 1px 1px 10px red !important; }
  body span.tope {
    display: block; }
  body .button {
    margin-bottom: 5px !important; }
