
//------------------------------------------------------------------GENERAL

body
	overflow-x: auto
	table
		margin: 0em 1em !important
		td
			padding: 0px 5px !important
			text-align: center !important
			color: #333
		.shadow
			background-color: #eee
			color: #eee
	#origin td
			cursor: pointer
	.inline
		display: inline-block
		vertical-align: top
	.basic
		padding: 0px !important
	.fin
		box-shadow: 1px 1px 10px red !important
	span.tope
		display: block
	.button
		margin-bottom: 5px !important