<!DOCTYPE html>
html(lang="es" ng-app="templateApp")
	head
		include components/generalHeader
	body(ng-controller="generalController")
		.ui.vertical.padded.purple.inverted.segment
			.ui.centered.huge.header(ng-click="verify()") CUADRO MÁGICO
		.ui.vertical.very.padded.segment
			.ui.doubling.stackable.very.padded.grid
				.ui.six.wide.column
					.ui.grey.header CREAR GRAFO
					.ui.basic.segment
						.ui.labeled.input
							.ui.purple.label alcance de función (nivel de rama)
							input(type="text" ng-model="max")
					.ui.basic.segment
						button.ui.purple.tiny.button(ng-click="create()") Crear Árbol
						| {{ records.length }} nodos creados
					.ui.basic.segment
						|Nodos Compartidos
						ul 
							li(ng-repeat="c in clon track by $index") {{c[0].node}}({{c[0].level}}) <-> {{c[1].node}}({{c[1].level}})
				.ui.four.wide.column
					.ui.grey.header DEFINIR LÍMITES
					.ui.center.aligned.basic.segment.inline
						table.ui.unstackable.collapsing.celled.table#origin
							tbody
								tr(ng-repeat="row in matrix track by $index")
									td(ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}" ng-click="moveKey($parent.$index,$index)")
										|{{ col }}
						br
						|Inicio
				
					.ui.center.aligned.basic.segment.inline
						table.ui.unstackable.collapsing.celled.table
							tbody
								tr(ng-repeat="row in meta track by $index")
									td(ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}")
										|{{ col }}
						br
						|Fin
				.ui.six.wide.column
					.ui.basic.segment
						.ui.grey.header IMPLEMENTAR BÚSQUEDA DE ARBOL
						button.ui.purple.tiny.button(ng-click="search('preOrden')" ng-mouseup="isGrafo=false") PreOrden
						button.ui.purple.tiny.button(ng-click="search('inOrden')" ng-mouseup="isGrafo=false") InOrden
						button.ui.purple.tiny.button(ng-click="search('postOrden')" ng-mouseup="isGrafo=false") PostOrden
					.ui.basic.segment
						.ui.grey.header IMPLEMENTAR BÚSQUEDA DE GRAFO
						button.ui.purple.tiny.button(ng-click="search('amplitud')" ng-mouseup="isGrafo=true") Amplitud
						button.ui.purple.tiny.button(ng-click="search('profundidad')" ng-mouseup="isGrafo=true") Profundidad
						button.ui.purple.tiny.button(ng-click="search('profundidadIt')" ng-mouseup="isGrafo=true") Profundidad It
						button.ui.purple.tiny.button(ng-click="addLvl()" ng-class="button" ng-show="profundidad") +2
						button.ui.purple.tiny.button(ng-click="search('costeUniforme')" ng-mouseup="isGrafo=true") Coste Uniforme
						button.ui.purple.tiny.button(ng-click="search('bestFirst')" ng-mouseup="isGrafo=true") Best First
						button.ui.purple.tiny.button(ng-click="search('colina')" ng-mouseup="isGrafo=true") Ascenso Colina
						button.ui.purple.tiny.button(ng-click="search('A')" ng-mouseup="isGrafo=true") A*
						button.ui.purple.tiny.button(ng-click="search('gameFree')" ng-mouseup="isGrafo=false") Free Game
						button.ui.purple.tiny.button(ng-click="reproducir()") Reproducir
					.ui.basic.segment
						|Resultado: 
						i.checkmark.green.icon(ng-show="fin")
						span.result(ng-repeat="route in routes track by $index") {{route.node}} 
						div(ng-show="isGrafo")
							span.tope(ng-show="profundidad") Nivel máximo (tope): {{tope+1}} nodos
							|Longitud de busqueda: {{way.length}} nodos
							br
							|Ruta: 
							span.way(ng-hide="posibilities" ng-repeat="route in way track by $index") {{route}}  
		.ui.vertical.padded.basic.segment
			br
			.ui.basic.segment(ng-repeat="record in records track by $index" ng-style="{'margin-left':record.level*30}" )
				table.ui.unstackable.collapsing.celled.table.inline(ng-class="{'fin':record.level==0}")
					tbody
						tr(ng-repeat="row in record.data track by $index")
							td(ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}")
								|{{ col }}
				//- span.inline <-{{record.node}},{{record.level}} - {{record.coinc}},{{record.costs}}
				span.inline {{record.node}} → {{record.coinc}},{{record.costs}} - {{record.cost}}
			br
			br