<!DOCTYPE html>
<html lang="es" ng-app="templateApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content="index"/>
    <meta name="googlebot" content="index"/>
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/semantic.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-1.5.8/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <title>template</title>
  </head>
  <body ng-controller="generalController">
    <div class="ui vertical padded purple inverted segment">
      <div class="ui centered huge header" ng-click="verify()">CUADRO MÁGICO</div>
    </div>
    <div class="ui vertical very padded segment">
      <div class="ui doubling stackable very padded grid">
        <div class="ui six wide column">
          <div class="ui grey header">CREAR GRAFO</div>
          <div class="ui basic segment">
            <div class="ui labeled input">
              <div class="ui purple label">alcance de función (nivel de rama)</div>
              <input type="text" ng-model="max"/>
            </div>
          </div>
          <div class="ui basic segment">
            <button class="ui purple tiny button" ng-click="create()">Crear Árbol</button>{{ records.length }} nodos creados
          </div>
          <div class="ui basic segment">Nodos Compartidos
            <ul> 
              <li ng-repeat="c in clon track by $index">{{c[0].node}}({{c[0].level}}) <-> {{c[1].node}}({{c[1].level}})</li>
            </ul>
          </div>
        </div>
        <div class="ui four wide column">
          <div class="ui grey header">DEFINIR LÍMITES</div>
          <div class="ui center aligned basic segment inline">
            <table class="ui unstackable collapsing celled table" id="origin">
              <tbody>
                <tr ng-repeat="row in matrix track by $index">
                  <td ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}" ng-click="moveKey($parent.$index,$index)">{{ col }}</td>
                </tr>
              </tbody>
            </table><br/>Inicio
          </div>
          <div class="ui center aligned basic segment inline">
            <table class="ui unstackable collapsing celled table">
              <tbody>
                <tr ng-repeat="row in meta track by $index">
                  <td ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}">{{ col }}</td>
                </tr>
              </tbody>
            </table><br/>Fin
          </div>
        </div>
        <div class="ui six wide column">
          <div class="ui basic segment">
            <div class="ui grey header">IMPLEMENTAR BÚSQUEDA DE ARBOL</div>
            <button class="ui purple tiny button" ng-click="search('preOrden')" ng-mouseup="isGrafo=false">PreOrden</button>
            <button class="ui purple tiny button" ng-click="search('inOrden')" ng-mouseup="isGrafo=false">InOrden</button>
            <button class="ui purple tiny button" ng-click="search('postOrden')" ng-mouseup="isGrafo=false">PostOrden</button>
          </div>
          <div class="ui basic segment">
            <div class="ui grey header">IMPLEMENTAR BÚSQUEDA DE GRAFO</div>
            <button class="ui purple tiny button" ng-click="search('amplitud')" ng-mouseup="isGrafo=true">Amplitud</button>
            <button class="ui purple tiny button" ng-click="search('profundidad')" ng-mouseup="isGrafo=true">Profundidad</button>
            <button class="ui purple tiny button" ng-click="search('profundidadIt')" ng-mouseup="isGrafo=true">Profundidad It</button>
            <button class="ui purple tiny button" ng-click="addLvl()" ng-class="button" ng-show="profundidad">+2</button>
            <button class="ui purple tiny button" ng-click="search('costeUniforme')" ng-mouseup="isGrafo=true">Coste Uniforme</button>
            <button class="ui purple tiny button" ng-click="search('bestFirst')" ng-mouseup="isGrafo=true">Best First</button>
            <button class="ui purple tiny button" ng-click="search('colina')" ng-mouseup="isGrafo=true">Ascenso Colina</button>
            <button class="ui purple tiny button" ng-click="search('A')" ng-mouseup="isGrafo=true">A*</button>
            <button class="ui purple tiny button" ng-click="search('gameFree')" ng-mouseup="isGrafo=false">Free Game</button>
            <button class="ui purple tiny button" ng-click="reproducir()">Reproducir</button>
          </div>
          <div class="ui basic segment">Resultado: <i class="checkmark green icon" ng-show="fin"></i><span class="result" ng-repeat="route in routes track by $index">{{route.node}} </span>
            <div ng-show="isGrafo"><span class="tope" ng-show="profundidad">Nivel máximo (tope): {{tope+1}} nodos</span>Longitud de busqueda: {{way.length}} nodos<br/>Ruta: <span class="way" ng-hide="posibilities" ng-repeat="route in way track by $index">{{route}}  </span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical padded basic segment"><br/>
      <div class="ui basic segment" ng-repeat="record in records track by $index" ng-style="{'margin-left':record.level*30}">
        <table class="ui unstackable collapsing celled table inline" ng-class="{'fin':record.level==0}">
          <tbody>
            <tr ng-repeat="row in record.data track by $index">
              <td ng-repeat="col in row track by $index" ng-class="{'shadow':col==0}">{{ col }}</td>
            </tr>
          </tbody>
        </table><span class="inline">{{record.node}} → {{record.coinc}},{{record.costs}} - {{record.cost}}</span>
      </div><br/><br/>
    </div>
  </body>
</html>