
meta(http-equiv="content-type" content="text/html; charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="")
meta(name="robots" content="index")
meta(name="googlebot" content="index")
	
//- CSS
link(rel="stylesheet" type="text/css" href="css/semantic.min.css")
link(rel="stylesheet" type="text/css" href="css/main.css")

//- JS
script(type="text/javascript" src="js/jquery-3.1.1.min.js")
script(type="text/javascript" src="js/semantic.min.js")

//- Default Angular Header Script
script(type="text/javascript" src="js/angular-1.5.8/angular.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-route.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-sanitize.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-animate.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-cookies.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-aria.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-messages.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-resource.min.js")
script(type="text/javascript" src="js/angular-1.5.8/angular-touch.min.js")

//- Angular Script
script(type="text/javascript" src="js/app.js")
script(type="text/javascript" src="js/controller.js")

title template