
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="author" content=""/>
<meta name="robots" content="index"/>
<meta name="googlebot" content="index"/>
<link rel="stylesheet" type="text/css" href="css/semantic.min.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/semantic.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-aria.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-messages.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular-1.5.8/angular-touch.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<title>template</title>